ul {
    margin: 0;
    list-style: decimal;
}

body {
    margin: 0;
}

h1 {
    font-size: 23px;
    padding-left: 20px;
}

h2 {
    font-size: 20px;
    padding-left: 20px;
}

a {
    transition: 0.3s;
    color: #3f3a64;
    text-decoration: none;
}

a:hover {
    color: white;
}

.display {
    display: flex;
    justify-content: start;
}

.html {
    width: 245px;
    transition: 0.3s;
    line-height: 26px;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.css {
    width: 240px;
    transition: 0.3s;
    line-height: 21px;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.html3 {
    width: 255px;
    transition: 0.3s;
    background: pink;
    position: relative;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.flex {
    width: 187px;
    height: 350px;
    position: relative;
    transition: 0.3s;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
}