ul {
    margin: 0;
    list-style: decimal outside none;
}

body {
    margin: 0;
}

.html {
    width: 25%;
    float: left;
    transition: 0.3s;
    line-height: 26px;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.html:hover {
    background: gray;
}

.html:hover a {
    color: #fff;
}

.html:hover h1 {
    color: #fff;
}

a {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 30px;
    transition: 0.3s;
    font-weight: 400;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h1:hover {
    color: violet;
}

h3 {
    margin: 0;
    font-size: 25px;
    transition: 0.3s;
    font-weight: 400;
    text-align: center;
    padding: 20px 15px 20px 15px;
}

.css {
    float: left;
    width: 25%;
    transition: 0.3s;
    line-height: 21px;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.css:hover {
    background: gray;
}

.css:hover a {
    color: #fff;
}

.css:hover h1 {
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.flex {
    width: 18%;
    float: right;
    transition: 0.3s;
    background: pink;
    border-radius: 10px;
    border: 3px solid #fafafa;
    top: 0px;
    position: relative;
    left: 309px;
}

.flex:hover {
    background: gray;
}

.flex:hover a {
    color: #fff;
}

.flex:hover h1 {
    color: #fff;
}

.float {
    width: 18%;
    top: 150px;
    float: right;
    left: 200px;
    transition: 0.3s;
    background: pink;
    position: relative;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.float:hover {
    background: gray;
}

.float:hover a {
    color: #fff;
}

.float:hover h1 {
    color: #fff;
}

.float:hover h3 {
    color: #fff;
}

.clear {
    clear: both;
}

.heibai {
    width: 18%;
    float: right;
    right: 95px;
    bottom: 1px;
    transition: 0.3s;
    background: pink;
    position: relative;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.heibai:hover {
    background: gray;
}

.heibai:hover a {
    color: #fff;
}

.heibai:hover h1 {
    color: #fff;
}

.heibai:hover h3 {
    color: #fff;
}

a {
    transition: 0.3s;
    color: #3f3a64;
}

a:hover {
    color: white;
}

s .html3 {
    width: 25%;
    float: right;
    right: 383px;
    transition: 0.3s;
    background: pink;
    position: relative;
    border-radius: 10px;
    border: 3px solid #fafafa;
}

.html3:hover {
    background: gray;
}

.html3:hover a {
    color: #fff;
}

.html3:hover h1 {
    color: #fff;
}

.html3:hover h3 {
    color: #fff;
}