ul {
    margin: 0;
    list-style: decimal;
}

body {
    margin: 0;
}

h1 {
    font-size: 23px;
    padding-left: 20px;
}

li {
    color: #3f3a64;
}

h2 {
    font-size: 20px;
    padding-left: 20px;
}

a {
    color: #8e43e7;
    transition: 0.3s;
    text-decoration: none;
}

.display {
    padding: 25px;
    display: flex;
    justify-content: start;
}

.html {
    width: 245px;
    line-height: 25px;
    margin-right: 30px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #754ef9;
}

.css {
    width: 240px;
    line-height: 21px;
    margin-right: 30px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #754ef9;
}

.html3 {
    width: 255px;
    margin-right: 30px;
    position: relative;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #754ef9;
}

.flex {
    width: 192px;
    height: 355px;
    margin-right: 30px;
    position: relative;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #754ef9;
}

.heibai {
    width: 190px;
    height: 150px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #754ef9;
}